<section id="about" class="about">
	<div class="container">
		<h1 class="about__name">Nordic Sitecore Conference</h1>
		<h1 class="about__pre">Praesent vel metus et libero vestibulum feugiat ut at lectus enean aliquam dui porta nibh porta dictum.</h1>

		<p class="about__body">Nunc interdum fringilla felis, id aliquam elit posuere sit amet. Donec commodo vulputate ullamcorper. Curabitur volutpat eu lectus facilisis lacinia. Mauris eget lacus sed lorem blandit vulputate eget sit amet turpis. Ut rutrum ex ut leo hendrerit, sollicitudin lacinia diam laoreet. Cras malesuada turpis eget eros euismod, nec viverra augue imperdiet. Nulla id nunc eu sapien ultrices venenatis. Integer faucibus erat in justo tincidunt elementum. Suspendisse sed scelerisque nisi, et pretium erat. Donec a fermentum lacus. Nullam rhoncus et odio in pretium. 
		</p>

		<p class="about__body">Praesent vel metus et libero vestibulum feugiat ut at lectus. Aenean aliquam dui porta nibh porta dictum. Integer eget tincidunt mauris. Donec volutpat elit non lectus cursus ullamcorper. Duis lobortis velit id libero auctor euismod. Nullam vitae arcu arcu. Etiam auctor odio id metus laoreet pellentesque. </p>

		<a href="#" class="about__cta btn">REGISTER</a>	
	</div>
</section>