<section id="about" class="about">
	<div class="container">
		<h1 class="about__name">Sitecore User Group Conference Europe 2017</h1>
		<h1 class="about__pre">The must-attend conference for every Sitecore developer, organized by the community for the community!</h1>

		<div class="about__body"><p>After the successful editions of SUGCON Europe 2014,2015, 2016, the Dutch and Nordic Sitecore user groups have joined forces yet again to bring you an even better Sitecore community conference in 2016, fully focused on in-depth Sitecore knowledge. Get yourself ready for SUGCON Europe 2017!</p>
		<p>This community driven conference will be packed with the latest insights and advice from some of the most experienced, skillful Sitecore experts in the world, both from Sitecore and the community. Whether you are new to Sitecore or a diehard veteran, take advantage of this opportunity to gain new skills, and stay up to date with the latest innovative strategies. The first day includes a networking dinner where you can connect with your peers while enjoying great food and drinks.</p>
			<ul>
				<li>Learn about best practices using the Sitecore platform by the most experienced people from the community</li>
				<li>Learn about the latest products and features of the Sitecore Customer Experience platform</li>
				<li>Connect and engage with the Sitecore product and development team, industry experts and other community members, who share the love for Sitecore</li>
			</ul>
		</div>

		<h2 class="about__price"><a href="http://www.sugcon.eu">See SUGCON.EU for more details</a></h2>

	</div>
</section>
