<section id="about" class="about">
	<div class="container">
		<h1 class="about__name">Nordic Sitecore Usergroup Conference</h1>
		<h1 class="about__pre">The must-attent event of the year for Sitecore developers and marketeers. Stay on top of the development and understand how, when and why</h1>

		<p class="about__body">am packed with the latest insights and advice from the best Sitecore people (from Sitecore and the Sitecore community), to help you get the most out of the Sitecore Experience platform.

Learn about the latest Sitecore products and features
Learn about Sitecore best practices using the Sitecore platform by the best Sitecore people out there
From Sitecore Azure to Sitecore MVC Advanced, from FXM to Sitecore Client Services, we have the best program ever!
Connect with Sitecore specialists
Network with your peers
Please check out the full agenda and then register and be part of the best event and community there is....
			Nunc interdum fringilla felis, id aliquam elit posuere sit amet. Donec commodo vulputate ullamcorper. Curabitur volutpat eu lectus facilisis lacinia. Mauris eget lacus sed lorem blandit vulputate eget sit amet turpis. Ut rutrum ex ut leo hendrerit, sollicitudin lacinia diam laoreet. Cras malesuada turpis eget eros euismod, nec viverra augue imperdiet. Nulla id nunc eu sapien ultrices venenatis. Integer faucibus erat in justo tincidunt elementum. Suspendisse sed scelerisque nisi, et pretium erat. Donec a fermentum lacus. Nullam rhoncus et odio in pretium. 
		</p>

		<p class="about__body">Praesent vel metus et libero vestibulum feugiat ut at lectus. Aenean aliquam dui porta nibh porta dictum. Integer eget tincidunt mauris. Donec volutpat elit non lectus cursus ullamcorper. Duis lobortis velit id libero auctor euismod. Nullam vitae arcu arcu. Etiam auctor odio id metus laoreet pellentesque. </p>

		<a href="#" class="about__cta btn">REGISTER</a>	
	</div>
</section>
