<section id="contact" class="contact">
	<header class="contact__header">
		<div class="container">
			<h1 class="contact__header__txt">Contact</h1>
		</div>
	</header>
	<div class="container">
		<a class="contact__email" href="mailto:nsc@pentia.dk">NSC@PENTIA.DK</a>
		<a class="contact__social" href="https://www.facebook.com/SitecoreUG/">Facebook</a>
		<a class="contact__tel" href="tel:+4560477334">+45 7023 3330</a>
		<a class="contact__social" href="https://twitter.com/SUGNordic/">Twitter</a>
	</div>
</section>
