<!doctype html>
<html class="no-js" lang="{{ currentLanguage }}">
<head>
    <meta charset="utf-8">
    <meta name="description" content="The must-attend event for all Sitecore developers and marketing professionals who want to stay updated">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>{% block title %}{% endblock %} | Nordic Sitecore Conference</title>

    {% block head %}
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <link href='//fonts.googleapis.com/css?family=Quantico:400,700' rel='stylesheet' type='text/css'>

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js
    <script src="../bower_components/modernizr/modernizr.js"></script> -->
    <!-- endbuild -->
    {% endblock %}
</head>
<body>
    {% block content %}{% endblock %}

    <!-- build:js scripts/scripts.js async -->
    <!-- bower:js -->
    <!-- endbower -->

    <script src="scripts/libs/smooth-scroll.js"></script>
    <script src="scripts/main.js"></script>

    <!-- endbuild -->
</body>
</html>
