<section class="location">
	<header class="location__header">
		<div class="container">
			<h1 class="location__header_txt">Location</h1>
		</div>
	</header>
	<div class="container">
		<h2 class="location__name">
			Malmø<br>
			Conference<br>
			Center
		</h2>

		<p class="location__description">Nulla id nunc eu sapien ultrices venenatis. Integer faucibus erat in justo tincidunt elementum. Suspendisse sed scelerisque nisi, et pretium erat.</p>

		<p class="location__address">Massgatan 6, Malmo, 215 32, Sweden</p>

		<ul class="location__links">
			<li>See on map</li>
			<li>mmc.com</li>
		</ul>
	</div>
</section>