<section id="location" class="location">
	<header class="location__header">
		<div class="container">
			<h1 class="location__header__txt">Location</h1>
		</div>
	</header>
	<div class="location__image">
		<div class="container">
			<h2 class="location__image__name">
				Malmø<br>
				Conference<br>
				Center
			</h2>

			<p class="location__image__description">Nulla id nunc eu sapien ultrices venenatis. Integer faucibus erat in justo tincidunt elementum. Suspendisse sed scelerisque nisi, et pretium erat.</p>

			<p class="location__image__address">Massgatan 6, Malmo, 215 32, Sweden</p>

			<ul class="location__image__links">
				<li class="location__image__links__link"><a href="https://www.google.dk/maps/place/M%C3%A4ssgatan+6,+216+23+Malm%C3%B6,+Sweden/data=!4m2!3m1!1s0x4653a12c7169bad9:0x9fc9af53ecc1a57e?sa=X&ei=cwNeVe6kNKHgywO84ICYDQ&ved=0CCAQ8gEwAA">See on map</a></li>
				<li class="location__image__links__link"><a href="http://mmc.com">mmc.com</a></li>
			</ul>
		</div>
	</div>
</section>