<section id="location" class="location">
	<header class="location__header">
		<div class="container">
			<h1 class="location__header__txt">Location</h1>
		</div>
	</header>
	<div class="location__image">
		<div class="container">
			<h2 class="location__image__name">
				Sankt Gertrud<br>
				Konferens<br>
				Malmø
			</h2>

			<p class="location__image__description">Sankt Gertrud Konferens is a popular conference centre that integrates old 16th century charm with modern facilities. Sankt Gertrud Konferens is in the centre of Malmo, just 5 minutes walk from the main train station, and close to restaurants and bars.</p>

			<p class="location__image__address">Östergatan 7B, Malmø, 215 25, Sweden</p>

			<ul class="location__image__links">
				<li class="location__image__links__link"><a href=https://www.google.dk/maps/place/%C3%96stergatan+7B,+211+25+Malm%C3%B6,+Sverige/@55.6078509,13.0072734,17z/data=!4m7!1m4!3m3!1s0x4653a3fb5776f18f:0x8bc5a432900f1914!2s%C3%96stergatan+7B,+211+25+Malm%C3%B6,+Sverige!3b1!3m1!1s0x4653a3fb5776f18f:0x8bc5a432900f1914>See on map</a></li>
				<li class="location__image__links__link"><a href="http://mmc.com">mmc.com</a></li>
			</ul>
		</div>
	</div>
</section>
