<section id="programme" class="programme">
	<header class="programme__header">
		<div class="container">
			<h1 class="programme__header__txt">Programme</h1>
		</div>
	</header>

	<div class="container">
		<h2 class="programme__msg">The program is not ready yet, but it will be filled with a string of interesting speakers. You’ll get updated on the most interesting and valuable Sitecore developments and trends and return home with a lot of inspiration and new knowledge. The program will have two developer tracks.</h2>
		<!---	-->
		
		<div class="programme__line">
			<time class="programme__line__time">08.30</time>
			<h2 class="programme__line__header">Registration</h2>
		</div>
		<div class="programme__line">
			<time class="programme__line__time">09.25</time>
			<h2 class="programme__line__header">Welcome</h2>
		</div>
		<div class="programme__line">
			<time class="programme__line__time">09.30</time>
			<h2 class="programme__line__header">Keynote</h2>
		</div>
		<div class="programme__line">
			<time class="programme__line__time">10.15</time>
			<h2 class="programme__line__header">Break</h2>
		</div>

		<div class="programme-track">
			<div class="programme-track__track">
				<h3 class="programme-track__name">Track 1</h3>
				<div class="programme__line programme__line--speaker">
					<time class="programme__line__time">10.30</time>
					<h2 class="programme__line__header">TBA</h2>
					<p>The speaker and topic will be announced in the future.</p>
				</div>
				<div class="programme__line">
					<time class="programme__line__time">11.15</time>
					<h2 class="programme__line__header">Break</h2>
				</div>
				<div class="programme__line programme__line--speaker">
					<time class="programme__line__time">11.30</time>
					<h2 class="programme__line__header">TBA</h2>
					<p>The speaker and topic will be announced in the future.</p>
				</div>
				<div class="programme__line">
					<time class="programme__line__time">12.15</time>
					<h2 class="programme__line__header">Lunch</h2>
				</div>
				<div class="programme__line programme__line--speaker">
					<time class="programme__line__time">13.15</time>
					<h2 class="programme__line__header">TBA</h2>
					<p>The speaker and topic will be announced in the future.</p>
				</div>
				<div class="programme__line">
					<time class="programme__line__time">14.00</time>
					<h2 class="programme__line__header">Break</h2>
				</div>
				<div class="programme__line programme__line--speaker">
					<time class="programme__line__time">14.15</time>
					<h2 class="programme__line__header">TBA</h2>
					<p>The speaker and topic will be announced in the future.</p>
				</div>
				<div class="programme__line">
					<time class="programme__line__time">15.00</time>
					<h2 class="programme__line__header">Break</h2>
				</div>
				<div class="programme__line programme__line--speaker">
					<time class="programme__line__time">15.15</time>
					<h2 class="programme__line__header">TBA</h2>
					<p>The speaker and topic will be announced in the future.</p>
				</div>
			</div>
			<div class="programme-track__track">
				<h3 class="programme-track__name">Track 2</h3>
					<div class="programme__line programme__line--speaker">
					<time class="programme__line__time">10.30</time>
					<h2 class="programme__line__header">TBA</h2>
					<p>The speaker and topic will be announced in the future.</p>
				</div>
				<div class="programme__line">
					<time class="programme__line__time">11.15</time>
					<h2 class="programme__line__header">Break</h2>
				</div>
				<div class="programme__line programme__line--speaker">
					<time class="programme__line__time">11.30</time>
					<h2 class="programme__line__header">TBA</h2>
					<p>The speaker and topic will be announced in the future.</p>
				</div>
				<div class="programme__line">
					<time class="programme__line__time">12.15</time>
					<h2 class="programme__line__header">Lunch</h2>
				</div>
				<div class="programme__line programme__line--speaker">
					<time class="programme__line__time">13.15</time>
					<h2 class="programme__line__header">TBA</h2>
					<p>The speaker and topic will be announced in the future.</p>
				</div>
				<div class="programme__line">
					<time class="programme__line__time">14.00</time>
					<h2 class="programme__line__header">Break</h2>
				</div>
				<div class="programme__line programme__line--speaker">
					<time class="programme__line__time">14.15</time>
					<h2 class="programme__line__header">TBA</h2>
					<p>The speaker and topic will be announced in the future.</p>
				</div>
				<div class="programme__line">
					<time class="programme__line__time">15.00</time>
					<h2 class="programme__line__header">Break</h2>
				</div>
				<div class="programme__line programme__line--speaker">
					<time class="programme__line__time">15.15</time>
					<h2 class="programme__line__header">TBA</h2>
					<p>The speaker and topic will be announced in the future.</p>
				</div>
			</div>
		</div>

		<div class="programme__line">
			<time class="programme__line__time">16.00</time>
			<h2 class="programme__line__header">Break</h2>
		</div>

		<div class="programme__line">
			<time class="programme__line__time">16.15</time>
			<h2 class="programme__line__header">Keynote</h2>
		</div>
	
		<div class="programme__line">
			<time class="programme__line__time">17.15</time>
			<h2 class="programme__line__header">Networking and drinks</h2>
		</div>
	</div>

</section>