<section id="programme" class="programme">
	<header class="programme__header">
		<div class="container">
			<h1 class="programme__header__txt">Programme</h1>
		</div>
	</header>

	<div class="container">
		<h2 class="programme__msg">The program is almost ready, the speakers are just finalising their talk and the topic will be announced soon.</h2>
		<!---	-->
		
		<div class="programme__line">
			<time class="programme__line__time">08.30</time>
			<h2 class="programme__line__header">Registration</h2>
		</div>
		<div class="programme__line">
			<time class="programme__line__time">09.00</time>
			<h2 class="programme__line__header">Welcome</h2>
		</div>
		<div class="programme__line">
			<time class="programme__line__time">09.05</time>
			<h2 class="programme__line__header">Keynote - Lars Fløe Nielsen</h2>
		</div>
		<div class="programme__line">
			<time class="programme__line__time">09:50</time>
			<h2 class="programme__line__header">Break</h2>
		</div>

		<div class="programme-track">
			<div class="programme-track__track">
				<h3 class="programme-track__name">Track 1</h3>
				<div class="programme__line programme__line--speaker">
					<time class="programme__line__time">10.00</time>
					<h2 class="programme__line__header">Todd Mitchell</h2>
					<p>A crash course on xDB - we’ll cover how xDB enables you to model, collect, integrate, and leverage your brand’s data to own each customer experience.</p>
				</div>
				<div class="programme__line">
					<time class="programme__line__time">10.45</time>
					<h2 class="programme__line__header">Break</h2>
				</div>
				<div class="programme__line programme__line--speaker">
					<time class="programme__line__time">11.00</time>
					<h2 class="programme__line__header">Emil Okkels Klein</h2>
					<p>Sitecore deployment and dev ops.</p>
				</div>
				<div class="programme__line">
					<time class="programme__line__time">11.45</time>
					<h2 class="programme__line__header">Lunch</h2>
				</div>
				<div class="programme__line programme__line--speaker">
					<time class="programme__line__time">12.45</time>
					<h2 class="programme__line__header">Stephen Pope</h2>
					<p>The topic will be announced in the future.</p>
				</div>
				<div class="programme__line">
					<time class="programme__line__time">13.30</time>
					<h2 class="programme__line__header">Break</h2>
				</div>
				<div class="programme__line programme__line--speaker">
					<time class="programme__line__time">13.45</time>
					<h2 class="programme__line__header">Jens Mikkelesn</h2>
					<p>Real life SPEAK apps - You may have seen a few presentations on SPEAK before, but in this scenario I will go through the process of building a real life SPEAK app and provide you with a lot of actual take aways, that will enable you to go home and build your own app or enhance existing apps.
</p>
				</div>
				<div class="programme__line">
					<time class="programme__line__time">14.30</time>
					<h2 class="programme__line__header">Break</h2>
				</div>
				<div class="programme__line programme__line--speaker">
					<time class="programme__line__time">14.45</time>
					<h2 class="programme__line__header">Mike Reynolds</h2>
					<p>Mike will showcase the latest and greatest of the Sitecore PowerShell Extensions module.</p>
				</div>
			</div>
			<div class="programme-track__track">
				<h3 class="programme-track__name">Track 2</h3>
					<div class="programme__line programme__line--speaker">
					<time class="programme__line__time">10.00</time>
					<h2 class="programme__line__header">Mads-Peter E. Jakobsen</h2>
					<p>Customer Experience: Omni channel from a users point of view.</p>
				</div>
				<div class="programme__line">
					<time class="programme__line__time">10.45</time>
					<h2 class="programme__line__header">Break</h2>
				</div>
				<div class="programme__line programme__line--speaker">
					<time class="programme__line__time">11.00</time>
					<h2 class="programme__line__header">Sören Spelling Lund</h2>
					<p>The topic will be announced in the future.</p>
				</div>
				<div class="programme__line">
					<time class="programme__line__time">11.45</time>
					<h2 class="programme__line__header">Lunch</h2>
				</div>
				<div class="programme__line programme__line--speaker">
					<time class="programme__line__time">12.45</time>
					<h2 class="programme__line__header">Robbert Hock</h2>
					<p>Advanced Sitecore Rocks – Tips & Tricks</p>
				</div>
				<div class="programme__line">
					<time class="programme__line__time">13.30</time>
					<h2 class="programme__line__header">Break</h2>
				</div>
				<div class="programme__line programme__line--speaker">
					<time class="programme__line__time">13.45</time>
					<h2 class="programme__line__header">Mike Edwards</h2>
					<p>Making it Open Source!</p>
				</div>
				<div class="programme__line">
					<time class="programme__line__time">14.30</time>
					<h2 class="programme__line__header">Break</h2>
				</div>
				<div class="programme__line programme__line--speaker">
					<time class="programme__line__time">14.45</time>
					<h2 class="programme__line__header">Lasse Rasch</h2>
					<p>In my session i will be showing you some ways of using the Sitecore DMS engine. My presentation will not be a sales speech. It will be a hands-on, concrete session about how to setup DMS features and how to use them in real life</p>
				</div>
			</div>
		</div>

		<div class="programme__line">
			<time class="programme__line__time">15.30</time>
			<h2 class="programme__line__header">Break</h2>
		</div>

		<div class="programme__line">
			<time class="programme__line__time">16.00</time>
			<h2 class="programme__line__header">Keynote - Martina Welander on "Google Is Just a Two Page Site” : Relevant Results with Sitecore.ContentSearch</h2>
		</div>
	
		<div class="programme__line">
			<time class="programme__line__time">17.00</time>
			<h2 class="programme__line__header">Networking and drinks</h2>
		</div>
	</div>

</section>