<!--
<section id="speakers" class="speakers">
	<header class="speakers__header">
		<div class="container">
			<h1 class="speakers__header__txt">Speakers</h1>
		</div>
	</header>
	<ul class="speakers__list">
		{% for SPEAKER in SPEAKERS %}
			<li class="speaker">
				<img class="speaker__image" height="275" width="275" src="{{ SPEAKER.IMG }}">
				<h2 class="speaker__name">{{ SPEAKER.NAME }}</h2>
				<p class="speaker__title-company">{{ SPEAKER.TITLE }}, {{ SPEAKER.COMPANY }}</p>
				<p class="speaker__topic">Focus: {{ SPEAKER.TOPIC }}</p>
			</li>
		{% endfor %}
	</ul>
</section>
-->