<section class="speakers">
	<header class="speakers__header">
		<div class="container">
			<h1 class="speakers__header__txt">Speakers</h1>
		</div>
	</header>
	<ul class="speakers__list">
		<li class="speaker">
			<img class="speaker__image" src="/images/speakers/joachim.jpg">
			<h2 class="speaker__name">Joachim Schiødtz</h2>
			<p class="speaker__title-company">Partner, Cabana</p>
			<p class="speaker__topic">Coordinator</p>
		</li>
		<li class="speaker">
			<img class="speaker__image" src="//placehold.it/275x275&text=Coming soon...">
			<h2 class="speaker__name">Arnold Schwarzenegger</h2>
			<p class="speaker__title-company">Terminator, SkyNet</p>
			<p class="speaker__topic">How to be back: Effective Collaboration for Multidisciplinary Teams</p>
		</li>
		<li class="speaker">
			<img class="speaker__image" src="//placehold.it/275x275&text=Coming soon...">
			<h2 class="speaker__name">Emil Okkels Klein</h2>
			<p class="speaker__title-company">Backend, Pentia</p>
			<p class="speaker__topic">TBA</p>
		</li>
		<li class="speaker">
			<img class="speaker__image" src="//placehold.it/275x275&text=Coming soon...">
			<h2 class="speaker__name">Martina Welander</h2>
			<p class="speaker__title-company">TBA</p>
			<p class="speaker__topic">TBA</p>
		</li>
		<li class="speaker">
			<img class="speaker__image" src="/images/speakers/lasse-rasch.jpg">
			<h2 class="speaker__name">Lasse Rasch</h2>
			<p class="speaker__title-company">Technical Architect, Freelance</p>
			<p class="speaker__topic">TBA</p>
		</li>
		<li class="speaker">
			<img class="speaker__image" src="//placehold.it/275x275&text=Coming soon...">
			<h2 class="speaker__name">Todd Mitchell</h2>
			<p class="speaker__title-company">TBA</p>
			<p class="speaker__topic">TBA</p>
		</li>
	</ul>
</section>