<section id="speakers" class="speakers">
	<header class="speakers__header">
		<div class="container">
			<h1 class="speakers__header__txt">Speakers</h1>
		</div>
	</header>
	<ul class="speakers__list">
		<li class="speaker">
			<img class="speaker__image" height="275" width="275" src="/images/speakers/joachim.jpg">
			<h2 class="speaker__name">Stephen Pope</h2>
			<p class="speaker__title-company">Senior Developer, Sitecore</p>
			<p class="speaker__topic">Focus: Sitecore is not an island. Let's build some bridges and start using cross channel data the smart way</p>
		</li>
		<li class="speaker">
			<img class="speaker__image" height="275" width="275" src="//placehold.it/275x275&text=Coming soon...">
			<h2 class="speaker__name">Jens Mikkelsen</h2>
			<p class="speaker__title-company">Sitecore specialist, Inmento Solutions</p>
			<p class="speaker__topic">Focus: Jens will share valuable knowledge and tips based on his work in the real life Sitecore frontzone</p>
		</li>
		<li class="speaker">
			<img class="speaker__image" height="275" width="275" src="//placehold.it/275x275&text=Coming soon...">
			<h2 class="speaker__name">Emil Okkels Klein</h2>
			<p class="speaker__title-company">Backend Specialist, Pentia</p>
			<p class="speaker__topic">Focus: Emil is a straightforward, hands-on expert, who'll share some of his tips and secrets with you. Emil works on large solutions with both architecture and integration.</p>
		</li>
		<li class="speaker">
			<img class="speaker__image" height="275" width="275" src="//placehold.it/275x275&text=Coming soon...">
			<h2 class="speaker__name">Martina Welander, Sitecore</h2>
			<p class="speaker__title-company">Technical Consulting Engineer</p>
			<p class="speaker__topic">Focus: SPEAK. The why, when and how</p>
		</li>
		<li class="speaker">
			<img class="speaker__image" height="275" width="275" src="/images/speakers/lasse-rasch.jpg">
			<h2 class="speaker__name">Lasse Rasch</h2>
			<p class="speaker__title-company">Technical Architect, Freelance</p>
			<p class="speaker__topic">Focus: Lasse is a respected Sitecore expert who will share his hands-on experience with the experience platform</p>
		</li>
		<li class="speaker">
			<img class="speaker__image" height="275" width="275" src="//placehold.it/275x275&text=Coming soon...">
			<h2 class="speaker__name">Todd Mitchell</h2>
			<p class="speaker__title-company">Technical Product Owner, Sitecore</p>
			<p class="speaker__topic">Focus: How do you give everybody a piece of the experience? Insights and technical options you need to know about</p>
		</li>
	</ul>
</section>
