<section id="sponsors" class="sponsors">
	<header class="sponsors__header">
		<div class="container">
			<h1 class="sponsors__header__txt">Sponsors</h1>
		</div>
	</header>
	<div class="container">
		<p>Would you like to be a sponsor? Send a mail to <a href="mailto:nsc@pentia.dk">nsc@pentia.dk</a></p>
		<br><br><br>
		<ul class="sponsors__list">
			<li class="sponsors__list__company">
				<a href="http://house-co.com/">
					<img src="/images/house-co-logo.png">
				</a>
			</li>
		</ul>
	</div>
</section>