<section class="top">
	<div class="top__logowrap">
		<img class="top__logowrap__logo" width="150" src="/images/logo.svg" />
	</div>
	<div class="top__banner">
		<time class="top__banner__time">Bella Center Copenhagen 25th & 26th April 2016</time>
	<!-- 	<p class="top__banner__btn btn">Sold out</p> -->
	</div>
	<div class="container">
		<h1 class="top__intro">Sitecore User Group Conference Europe 2016 </h1>
		<p class="top__why">Experience the power of the Sitecore community</p>
		<p class="top__time"><time>25th & 26th April 2016</time>, <span class="top__time__location">Bella Center Copenhagen, Center Boulevard 5, Copenhagen, Denmark</span></p>		
	</div>
</section>
