.footer {
	padding: 20px 0;
	color: #fff;
	background: #1a1a1a;
	border-top:1px solid #333;
	
	 position: relative;
	ul {
		list-style: none;
		padding: 0;
		margin: 25px 0px;
		li{
		padding:5px 0px;
		}
		a {
			color: #fff;
		}
	}
	h2 {
		font-size: 18px;
		font-weight: normal;
	}
	.tryforfree {
		text-align: right;
		padding-top:20px;
	}
	.tryforfree-notice {
		display: block;
		float: right;
		padding:12px 0px;
	}
}

.generated-time {
	color: #575757;
	font-size: 0.8em;
}

@media screen and (max-width: 768px) {
	.footer {
		text-align: center;
		 .tryforfree {
			text-align: center;
			padding-top:20px;
		}
		.tryforfree-notice {
			float: none;
		}
	}
}
