* {
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
}

img {
  vertical-align: middle;
}
img {
  border: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      max-width: 750px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1170px; } }


h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1 {
  margin: .67em 0;
}