.menu {
	background: #314251;
	font-size: 18px;
	overflow: hidden;
	&__nav {
		padding: 3px 20px;
		max-width: 1170px;
  		margin: auto;
		&__item {
			display: inline-block;
			color: #fff;
			font-weight: bold;
			text-decoration: none;
			padding: 24px 20px;
			margin: 0 10px;
			&:hover {
				text-decoration: underline;
			}
			@media (max-width: 850px) {
				padding: 24px 10px;
				margin: 0;
			}
		}
	}
	&__tag {
		background: #f84433;
		float: right;
		padding: 27px;
		color: #fff;
		position: relative;
		&:before {
			content: "";
			background: #f84433;
			display: block;
			left: -13px;
			top: -8px;
			transform: rotate(-20deg);
			height: 82px;
			width: 35px;
			position: absolute;
		}
		@media (max-width: 850px) {
			padding: 15px;
			float: none;
			&:before {
				display: none;
			}
		}
	}
}