$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "_fonts.scss";

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* Space out content a bit */
body {
	line-height: 18px;
	font-size: 14px;
	font-family: 'Quantico', sans-serif;
	font-style: normal;
	background: #F4F4F4;
	color: #1c2f3f;
	left: 0;
	position: relative;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.container {
	max-width: 970px;
}

.btn {
	color: #fff;
	text-transform: uppercase;
	border-radius: 0;
	border: 2px solid #f84433;
	&:hover {
		background: #fff;
	}
}

.top {
	background: #F4F4F4 url(/images/background-lavarocks.jpg) no-repeat;
	background-size: 100% auto;
	font-size: 40px;
	color: #1c2f3f;
	&__logowrap {
		background: #f84433;
		overflow: hidden;
	    float: left;
	    padding: 10px 20px;
	}
	&__banner {
		background: rgba(28, 47, 63, 0.9);
		color: #fff;
		padding: 40px;
		padding: 48px;
		text-align: right;
		font-size: 18px;
	}
	&__intro {
		margin: 550px 0 80px;
		strong {
			font-size: 70px;
			color: #f84433;
		}
	}
	&__time {
		font-size: 18px;
		font-weight: bold;
		padding-bottom: 50px;
		&__location {
			font-weight: normal;
		}
	}
}

.speakers {
	color: #1a2e41;
	&__header {
		background: #fff;
		&__txt {
			padding: 100px 0;
			&:after {
				content: "";
				display: inline-block;
				height: 4px;
				width: 72px;
				background: #f84433;
				position: relative;
				top: -7px;
				left: 20px;
			}
		}
	}
}

.speaker {
	list-style: none;
	text-align: center;
	width: 33.333333%;
	float: left;
	color: #1a2e41;
	padding: 30px;
	&__image {
		border-radius: 275px;
		max-width: 100%;
	}
	&__name {
		font-size: 30px;
		font-weight: bold;
	}
	&__title-company {
		font-size: 18px;
		font-weight: normal;
		margin-bottom: 40PX;
	}
	&__topic {
		text-align: left;
		padding: 40px 28px;
		&:before {
			content: "";
			display: block;
			height: 4px;
			width: 72px;
			background: #f84433;
			position: relative;
			top: -40px;
			left: -28px;
		}
	}
}

.contact {
	background: #F4F4F4 url(/images/background-rocks.jpg) no-repeat;
	background-size: 100% auto;
	color: #fff;
	&__header {
		&__txt {
			color: #fff;
			padding: 50px 0;
			&:after {
				content: "";
				display: inline-block;
				height: 4px;
				width: 72px;
				background: #f84433;
				position: relative;
				top: -7px;
				left: 20px;
			}
		}
	}
	a {
		color: #fff;
		display: block;
	}
}

@import "_header.scss";
@import "_footer.scss";