<section class="speakers">
	<header class="speakers__header">
		<div class="container">
			<h1 class="speakers__header__txt">Speakers</h1>
		</div>
	</header>

	<ul class="speakers__list">
		<li class="speaker">
			<img class="speaker__image" src="//placehold.it/275x275">
			<h2 class="speaker__name">Jens Jensen</h2>
			<p class="speaker__title-company">ProJens, Company</p>
			<p class="speaker__topic">Complex Jens system: How To Have A Generic Name</p>
		</li>
		<li class="speaker">
			<img class="speaker__image" src="//placehold.it/275x275">
			<h2 class="speaker__name">Arnold Schwarzenegger</h2>
			<p class="speaker__title-company">Terminator, SkyNet</p>
			<p class="speaker__topic">How to be back: Effective Collaboration for Multidisciplinary Teams</p>
		</li>
		<li class="speaker">
			<img class="speaker__image" src="//placehold.it/275x275">
			<h2 class="speaker__name">Anders Laub</h2>
			<p class="speaker__title-company">Pro smoker, Pentia</p>
			<p class="speaker__topic">Sitecore: Yes he is going to speak, nothing to do about that now.</p>
		</li>
	</ul>
</section>