{% extends '../components/layout.html' %}

{% block title %}{{PAGES.HOME.TITLE}}{% endblock %}

{% block content %}
	<section class="top">
		<div class="top__logowrap">
			<img class="logo" width="200" src="/images/logo.svg" />
		</div>

		<div class="top__banner">
			<time>18.–22. OKTOBER 2015</time>
			<a class="btn" href="#">Register today</a>
		</div>

		<div class="container">
			<h1 class="top__intro">A conference for<br />
			<strong>DEVELOPERS &<br />
			DIGITAL MARKETERS</strong></h1>

			<p class="top__time"><time>18.–22. OKTOBER 2015</time>, <span class="top__time__location">MALMØ</span></p>		
		</div>
	</section>
{% endblock %}